
* {box-sizing: border-box;}

body { 
    margin: 0;
    font-family: 'Ubuntu', sans-serif !important;
}
.first {
    margin-top: 70px;
}

.header{
    background: #289660;
    position: fixed !important;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0px 4px 30px rgba(0,0,0,0.3);
}

.logo{
    position: absolute;
    bottom: -13px;
}

.logo img{
    width: 150px;
    height: auto;
}

.navbar-nav a{
    color: white;
    font-size: 18px;
    -webkit-transition: 0.2s;
}

.navbar-nav a:link {
    color: white; 
}

.navbar-nav a:visited {
    color: white;
}
.navbar-nav a:link:hover,
.navbar-nava:hover {
    color: #dab232;
    -webkit-transition: 0.2s;
}

.navbar-nav a:active {
    color: rgba(0,0,0,0.2);
}

.st-green{
    background: #289660;
}

.st-white{
    background: white;
}

/*link default*/

.link-default{
    color: #dab232;
    font-size: 18px;
    -webkit-transition: 0.2s;
}
.link-default:link {
    color: #dab232; 
}

.link-default:visited {
    color: #dab232;
}
.link-default:link:hover,
.link-default:hover {
    color: #d4db26;
    text-decoration: none;
    -webkit-transition: 0.2s;
}