html, body {
    position: relative;
    height: auto !important;
}
body {
    background: #eee;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}

.ui-widget-content{
    background: none;
    border: transparent;
    color: #289660;
    font-weight: bold;
}

.ui-button{
    background: #d4db26 !important;
    box-shadow: none !important;
    color: #004b35 !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    border: none !important;
    border-radius: 0 !important;
    padding: 5px !important;
    text-shadow: none !important;
}

.form-margin{
    margin-top: 150px;
    height: 63vh;
}

.title-register{
    margin-top: 120px;
    color: #005337;
}
.subtitle2-register{
    color: #005337; 
    margin-left: 42px;
}

.subtitle2-register>span{
    color: #E8B319;
}

.subtitle1-register{
    color: #E8B319;
    margin-left: 100px;
}

.ui-inputfield{
    border-radius: 0 !important;
    border: none !important;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.2) !important;
}

.ui-panelgrid .ui-panelgrid-cell{
    padding-bottom: 10px;
}

label{
    margin-bottom: 0;
}

.img-cars{
    top: 220px;
    position: absolute;
    right: 18vw;
    width: 35vw;
}
